body {
    background-color: #bbe4e9;
    font-family: "Roboto", sans-serif;
}

a {
    color: #53a8b6;
}
.weather-app {
    background: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}

h1 {
    border-bottom: 1px solid #bbe4e9;
    padding: 0 0 30px 0;
}

.search-form-input {
background-color: #bbe4e9;
font-size: 16px;
border: none;
border-radius: 6px;
width: 75%;
padding: 15px 20px; 
}
    
.search-form-button {
    background-color: #53a8b6;
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    color: white;
    margin-left: 5px;
font-size: 16px;
}

button {
    cursor: pointer;
    }

main {
    background-color: #bbe4e9;
    border: none;
border-radius: 6px;
padding: 15px 20px; 
margin: 50px 0 50px 0;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

.weather-app-city {
   border-bottom: 1px solid #f9f7fe;
    padding: 0 0 0 0;
    font-size: 38px; 
    line-height: 40px;
    margin: 0;
}

.weather-app-details {
    font-size: 16px;
    line-height: 20px;
}
.weather-app-details strong {
    color: rgb(196, 39, 99)
}

.weather-app-temperature-container {
    display: flex;
}

.weather-app-temperature {
    font-size: 88px;
    font-weight: bold;
}

.weather-app-icon {
    width: 90px;
    height: 90px;
    margin-top: 18px;
}

.weather-app-unit {
    margin-top: 16px;
    font-size: 28px;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;

}
.weather-forecast-date {
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
}

.weather-forecast-icon {
    width: 85px;
    height: 85px;
    display: block;
    margin: 0 auto;
}

.weather-forecast-temperatures {
    text-align: center;
    color: rgb(196, 39, 99);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.weather-forecast-temperature {
    padding: 0 10px;
}
footer{
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 12px;

}
